// Menu
// --------------------------------------------------
.site-nav-toggle {
  position: static;
  float: right;
}


.menu {
  float: right;
  margin: 8px 0 0 0;

  @include mobile() {
    margin: 10px 0 0 0;
    width: 100%;
    float: left;
    padding-left: 20px;
  }

  br { display: none; }

  .menu-item {
    margin: 0 5px;
    @include mobile() { display: block; }
  }

  .menu-item a {
    padding: 0 10px;
    background: none;
    border: none;
    border-radius: 2px;
    transition-property: background;

    &:hover { background: #e1e1e1; }
    @include mobile() {
      text-align: left;
    }
  }

  a::before {
      display: none;

      @include mobile() { display: block; }
    }

  @include mobile() { float: none; }
}
