// Menu
// --------------------------------------------------
.menu {
  //margin-top: 20px;
  padding-left: 0;
  float: right;
  text-align: center;
  @include mobile() {
    float: left;
    margin-top: 10px;
  }
}

.menu .menu-item {
  display: inline-block;
  margin: 0 10px;
  list-style: none;

  @media screen and (max-width: 767px) {
    margin-top: 10px;
  }

  a {
    display: block;
    font-size: 13px;
    line-height: inherit;
    border-bottom: 1px solid $menu-link-border;
    transition-property: background;
    @include the-transition();

    @at-root %menu-a-hover {
      background: $gainsboro;
    }
    @at-root %menu-a-hover2 {
      border-bottom: 1px solid $black-deep;
    }
    &:hover { @extend %menu-a-hover; }
    @include mobile() {
      &:hover { @extend %menu-a-hover2; }
    }
  }

  .fa { margin-right: 5px; }
}

.use-motion .menu-item { opacity: 0; }
